{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="contact">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Địa chỉ</div>
          <div class="text-one">268 Lý Thường Kiệt</div>
          <div class="text-two">Quận 10, TP.HCM</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Điện thoại</div>
          <div class="text-one">0938 989 564</div>
          <div class="text-two">0096 343 567</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">phuong.lethanh262@hcmut.edu.vn</div>
          <div class="text-two">khang.vo123@hcmut.edu.vn</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Gửi tin nhắn cho chúng tôi</div>
        <p>Nếu có bất cứ câu hỏi gì liên quan đến dự án, hãy gửi thông tin cho chúng tôi thông qua mẫu bên dưới.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Nhập vào tên của bạn">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Nhập vào địa chỉ email">
        </div>
        <div class="input-box message-box">
          <input type="text" placeholder="Gửi tin nhắn">
        </div>
        <div class="button">
          <input type="button" value="Gửi ngay" >
        </div>
      </form>
    </div>
    </div>
  </div>

{% endblock %}
